* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 40%;
  margin-top: 6rem;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 3rem 0 5rem;
}

.text-link {
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #555;
}

.btn {
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
}

.btn:hover {
  background-color: #fff;
  color: dodgerblue;
}

footer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 23px;
}

@media (max-width: 900px) {
  form {
    display: block;
  }
  .text-link {
    width: 100%;
    margin: auto;
  }
  .btn {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
  .image {
    width: 70%;
  }


@media (max-width: 550px) {
  .image {
    width: 100%;
  }
}
