<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error</title>
</head>
<body>
<header>
    <div class="container">
        <h1 align="center" style="margin-top: 6rem">YouTube Downloader</h1>
        <h1 align="center" style="color: red">404 #ERROR</h1>
        <h2 align="center">Xato URL kiritildi. Qaytadan urinib ko'ring</h2>
    </div>
</header>
</body>
</html>
