{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<header>
    <div class="container">
        <div class="image-box">
            <img class="image" src="static/images/yt_1200.jpg" alt="Youtube"/>
        </div>
        <h1 class="download">Downloader</h1>
        <div class="box">
          <form method="POST">
            {% csrf_token %}
            <div class="form">
                <input type="text"  class="text-link" id="text-link" name="url" placeholder="Video Linkini kiriting">
                <button id="get-video-info" class="btn btn-warning">Tasdiqlash</button>
            </div>
        </form>
        </div>
<!--         <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            <div class="form">-->
<!--                <input type="text" name="url" placeholder="Video Linkini kiriting">-->
<!--                <button id="get-video-info" class="btn btn-warning">Tasdiqlash</button>-->
<!--            </div>-->
<!--        </form>-->
        <footer>
            <h3>Frontend by Asilbek H.</h3>
            <h3>Backend by Ibrohim T.</h3>
        </footer>
    </div>
</header>
</body>
</html>
